/* CSS reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* /Reset */

html {
  font-family:'Tauri', sans-serif;
}
      
body {
  /*background: url(http://2.bp.blogspot.com/-QEi_6AzpVlA/UTawMsM3wJI/AAAAAAAAUHM/k8UJmWdN4yM/s1600/allcolors.jpg);*/
  background-size:100%;
  background-repeat:no-repeat;  
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  font-family: 'lato',arial,sans-serif;
}

header {
  zoom: 1;
  position: relative;
  padding: 10px 0 5px 0;
  vertical-align: middle;
  z-index: 80;
  position: fixed;
  box-shadow: 0 1px 0 rgba(0,0,0,0.2);
  width: 100%;
  min-height: 32px;
  background: #fff;
}
footer {
  border-top: 1px #666666 solid;
  width:90%;
  margin:auto;
  margin-top:10px;
  padding: 5px;
}

#logo {
  margin-top: 10px;
  vertical-align: middle;
  max-width: 150px;
  max-height: 150px;
  height: 54px;
}

#container {
    width: 100%;
    height: 100%;
    position: relative;
}


#mapContainer {
  width: 100%;
  height: 100%;
  margin: auto;
  margin-top: 40px;
  position: absolute;
}

#pageTitle {
  font-family: 'lato',arial,sans-serif;
  color: #ff6622;
  text-align: center;
  font-size: 50px;
  margin-top: 10px;
  margin-bottom: 5px;
}

#pageSubtitle {
  font-family: 'lato',arial,sans-serif;
  text-align: center;
  margin-bottom: 5px;
}

#feedback{
  moz-transform: rotate(270deg);
  -moz-transform-origin: top right;
  -webkit-transform: rotate(270deg);
  -webkit-transform-origin: top right;
  -ms-transform: rotate(270deg);
  -ms-transform-origin: top right;
  background-color: #ff6622;
  color: #fff;
  font-size: 12px;
  height: 30px;
  min-width: 100px;
  padding-bottom: 0;
  position: fixed;
  right: 30px;
}

#play {
    background-color: #ff6622;
}

.footer-text {
  text-align: right;
}

#sliderContainer {
  margin: auto;
  margin-top: 120px;
  width: 960px;
  text-align: center;
  position: absolute;
  z-index: 10;
}

#loading {
  width: 20%;
  height: 15%;
  top:42%;
  left:40%;
  margin:auto;
  background-color: #ff6622;
  color: #FFFFFF;
  z-index: 1000;
  position: absolute;
  text-align: center;
}

#loadingText {
  position: absolute;
  top:40%;
  left:35%;
}

.timerControlPlay {
  background-image: url("PlayButton.jpeg");
}